/* ================================= 
  Element Styles
==================================== */

* {
    box-sizing: border-box;
}

body {
    font: 1em/1.5 'Roboto', sans-serif;
    color: #4c4c4c;
    background: #f6f7f7;
    padding: 270px 0 3em;
    margin: 0;
}

a {
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    width: 40px;
    height: 35px;
    border: 0;
    background: none;
    cursor: pointer;
    outline: 0;
    position: relative;
    z-index: 2000;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
    body {
        padding-top: 70px;
    }
    .search-form {
        width: 40%;
        float: right;
        margin-top: 15px;
    }
    .no-movies  {
        padding-top: 120px;
    }
    .main-nav {
        display: flex;
        flex-wrap: wrap;
        float: left;
        width: 60%;
    }
    .main-nav a {
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        padding: 1.25em 1.5em;
    }
    .main-nav a:hover {
        border-color: rgba(150,150,150, .1);
    }
}