.search-form input {
    width: 100%;
    margin-right: -40px;
    padding-right: 35px;
    font-size: 1.12em;
    height: 46px;
    padding-bottom: 1em;
    padding-left: 0;
    background: none;
    border: none;
    outline: 0;
    border-bottom: 4px solid #e4e4e4;
    transition: border-color .4s;
}

.search-form input:focus {
    border-color: #c1c1c1;
}

.search-button {
    float: right;
    margin-right: -10px;
}

.icn-search {
    font-weight: 700;
}

/* SEO */
.hidden-label {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}